include requirements*.txt
exclude __pycache__/**
exclude .benchmarks/**
exclude .git/**
exclude .github/**
exclude .pytest_cache/**
exclude .vscode/**
exclude .history/**
exclude docs/**
exclude examples/**
exclude notebooks/**
exclude scripts/**
exclude src/modules/**
exclude templates/**
exclude tests/**
exclude data/**
exclude dataset/**
exclude datasets/**
exclude __init__.py
exclude .coverage
exclude .editorconfig
exclude .env
exclude .env.example
exclude .gitignore
exclude .gitmodules
exclude .ipynb_checkpoints
exclude .markdownlint.json
exclude .pre-commit-config.yaml
exclude .DS_Store
exclude CHANGELOG.md
exclude environment.yml
exclude Makefile
exclude MANIFEST.in
exclude mkdocs.yml
exclude pytest.ini
exclude Thumbs.db
exclude sample.py
exclude example.py
exclude test.py
exclude *.bak
exclude *.pyc
